<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invigilation.invigilation.mapper.ConflictApplicationMapper">
    <!-- 提交申请 -->
    <insert id="insert" parameterType="com.invigilation.invigilation.entity.ConflictApplication">
        INSERT INTO conflict_application (
            teacher_id, teacher_name, arrange_id, reason, file_url, status, create_time
        ) VALUES (
                     #{teacherId}, #{teacherName}, #{arrangeId}, #{reason}, #{fileUrl}, 0, #{createTime}
                 )
    </insert>

    <!-- 管理员查询所有申请 -->
    <select id="selectAll" resultType="com.invigilation.invigilation.entity.ConflictApplication">
        SELECT * FROM conflict_application ORDER BY create_time DESC
    </select>

    <!-- 管理员更新申请状态 -->
    <update id="updateStatus">
        UPDATE conflict_application
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <!-- 删除申请 -->
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM conflict_application WHERE id = #{id}
    </delete>

    <!-- 根据ID查询 -->
    <select id="selectById" resultType="com.invigilation.invigilation.entity.ConflictApplication">
        SELECT * FROM conflict_application WHERE id = #{id}
    </select>
</mapper>